@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Montserrat", sans-serif;
}


/* Responsive Design */
@media (max-width: 768px) {
    .ekart-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .ekat-header-nav {
        width: 100%;
    }

    .ekart-top-nav, .ekart-bottom-nav {
        justify-content: space-around;
        width: 100%;
    }

    .ekart-top-nav a, .ekart-bottom-nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

