<div class="ekart-header">
    <div class="ekart-logo" (click)="navigateToHome($event)">
        eKart
    </div>

    <header-form (searchedValue)="getSearchedValue($event)"></header-form>

    <div class="ekat-header-nav">
        <div class="ekart-top-nav">
            <a routerLink="/products/whishlist">
                <div class="whish-with-heart"><span>Whish list</span>
                    <div class=""><i class="fa-regular fa-heart"></i> <span class="quantity"
                            *ngIf="whishlistItems>0">{{whishlistItems}}</span></div>
                </div>
            </a>
            <a href="#">Help</a>
            <a routerLink="/products/cart">
                <div class="whish-with-heart"><span>Cart</span>
                    <div><span class="carts"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg></span> <span class="quantity"
                            *ngIf="cartQuantityItems>0">{{cartQuantityItems}}</span></div>
                </div>
            </a>
            <a href="#">Signup/ Login</a>
            <a class="btn-cart">
                <svg class="icon-cart" viewBox="0 0 24.38 30.52" xmlns="http://www.w3.org/2000/svg">

                    <path transform="translate(-3.62 -0.85)"
                        d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0">
                    </path>
                </svg>
                <span class="quantity">0</span>
            </a>
        </div>
    </div>
</div>
<bottom-header></bottom-header>

<p *ngIf="searchResult!==''">Searched Result for: {{searchResult}}</p>