<div class="container">
    <app-category></app-category>
    <div class="content">
        <!-- <app-product-list [searchedInput]="recievedSearchedInput" (sendSelectedProduct)="recieveSelectedProduct($event)">
        </app-product-list> -->
        <app-product-list  (sendSelectedProduct)="recieveSelectedProduct($event)">
        </app-product-list>
        
        <product-detail *ngIf="showProductDetails"></product-detail>
        
        <!-- <router-outlet></router-outlet> -->

    </div>

</div>
